/* @media (min-width: 640px) {
  #map {
    width: 20rem;
    height: 20rem;
    border: 2px solid #555;
  }
}
@media (min-width: 768px) { 
  #map {
    width: 20rem;
    height: 20rem;
    border: 2px solid #555;
  }
}
@media (min-width: 1024px) { 
  #map {
    width: 20rem;
    height: 20rem;
    border: 2px solid #555;
  }
}
@media (min-width: 1280px) { 
  #map {
    width: 20rem;
    height: 20rem;
    border: 2px solid #555;
  }
}
@media (min-width: 1536px) { 
  #map {
    width: 20rem;
    height: 20rem;
    border: 2px solid #555;
  }
} */